* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.site-footer{
    width: 100%;
    height: 120vh;
    background-color: #5B1C1F;
}

.site-footer img{
    /* scale: 0.8; */
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}
